@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    font-family: Montserrat;
}

body{
    background-color: #f5f7f9;
}

.header{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    max-width: 1900px;
    padding: 0px 15px;
    margin: auto;
    border: none;
    border-radius: 0 0 20px 20px;
}

.header__section{
    display: flex;
    justify-content: space-between;
}

.header_hrefs{
    padding: 10px 15px;
    font-size: 25px;
    margin-left: 10px;
    text-decoration: none;
    color: #50565e;
    cursor: pointer;
    transition: color 0.5s;
}

.header_hrefs:hover{
    color: #cbd5db;
    text-decoration: none;
    transition: color 0.5s;
}

.reg{
    color: #616363;
    font-size: 25px;
}

.butt{
    border: solid #cbd5db 1px;
    width: 150px;
    border-radius: 30px;
    background-color: #fff;
    transition: .5s;
}

.butt:hover{
    background-color: #f5f7f9;
    color: #cbd5db;
    transition: .5s;
}

.logo{
    display: inline-block;
    line-height: 60px;
}