@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    font-family: Montserrat;
}

body{
    background-color: #f5f7f9;
}

.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100px;
}

.header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 2;
}

.header_body{
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;

}

.container{
    max-width: 1900px;
    margin: 0 auto;
    padding: 0 10px;
}

.header_logo{
    z-index: 3;
    width: 50px;
    position: relative;
}

.header_logo img{
    min-width: 100%;
    display: block;
}

.header_burger{
    display: none;
}

.header_list{
    display: flex;
    margin-top: 17px;
    position: relative;
    z-index: 2;
}

.header_list li{
    list-style: none;
    margin-left: 20px;
    margin-top: 5px;
}


.header_hrefs{
    padding: 10px 15px;
    font-size: 25px;
    margin-left: 10px;
    text-decoration: none;
    color: #50565e;
    cursor: pointer;
    transition: color 0.5s;
}

.header_hrefs:hover{
    color: #cbd5db;
    text-decoration: none;
    transition: color 0.5s;
}

.reg{
    color: #616363;
    font-size: 25px;
}

.butt{
    border: solid #cbd5db 1px;
    width: 150px;
    border-radius: 30px;
    font-size: 25px;
    background-color: #fff;
    transition: .5s;
}

.butt:hover{
    background-color: #f5f7f9;
    color: #cbd5db;
    transition: .5s;
}

@media (max-width:1200px){
    .link{
        max-width: 560px;
    }
}

@media (max-width:992px){
    .link{
        max-width: 448px;
    }
}

@media (max-width:768px){
    body.lock{
        overflow: hidden;
    }
    .header_body{
        height: 50px;
    }

    .header_logo{
        width: 30px;
    }

    .header_burger{
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
    }
    .header_burger span{
        position: absolute;
        background-color: #50565e;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }
    .header_burger::before,
    .header_burger::after{
        content: '';
        background-color: #50565e;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }

    .header::before{
        top: 0;
    }

    .header_burger::after{
        bottom: 0;
    }

    .header_burger.active::before{
        transform: rotate(45deg);
        top: 9px;
    }

    .header_burger.active span{
        transform: scale(0);
    }

    .header_burger.active::after{
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .header_menu{
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: #50565e;
        padding: 40px 10px 20px 0px;
        transition: all 0.3s ease 0s;
    }
    .header_menu.active{
        top: 0;
    }
    .header_list{
        left: 0;
        display: block;
    }
    .header_list li{
        margin-bottom: 0px 0 20px 0;
        line-height: 50px;
    }
    .header_hrefs{
        z-index: 10;
        color: #fff;
    }
}

.check_link{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 500px;
}

.link{
    width: 700px;
    padding: 0 0 10px 0;
    border: none;
    border-bottom: 1px solid #969696;
    background-color: transparent;
    outline: none;
    transition: 0.5s;
}

.link:focus{
    border-bottom: 1px solid #242424;
}

.label_link{
    position: absolute;
    left: 0;
    z-index: 5;
    color: #9e9e9e;
    transition: 0.3s;
}

.link:focus ~ .label_link,
.link:not(:placeholder-shown) ~ .label_link{
    top: -18px;
    font-size: 12px;
    color: #e0e0e0;
}

.form_group{
    position: relative;
}

.av_img{
    display: block;
    text-align: center;
    margin-top: 200px;
}

.profile_name{
    text-align: center;
}

.profile_link{
    margin-top: 50px;
}

.check_link_profile{
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonn{
    display: block;
    padding-top: 50px;
    text-align: center;
}
.btn-light{font-size:25px;}
.btn .fa { font-size: 25px;}
.butt_prof{
    border: solid #cbd5db 1px;
    width: 150px;
    border-radius: 10px;
    background-color: #fff;
    transition: .5s;
}

.butt_prof:hover{
    background-color: green;    
    color: #cbd5db;
    transition: .5s;
}

.media{
    margin-top: 100px;
    margin-left: 20px;
}

.form_profile{
    position: absolute;
    left: 20px;
    top: 300px;
}

.butt_profile{
    border: solid #242424 1px;  
    border-radius: 5px;
    font-size: 17px;
    color: white;
    background-color: #969696;
    transition: .5s;
}

.butt_profile:hover{
    background-color: #e0e0e0;
    border: solid #242424 1px;
    color: black;
    transition: .5s;
}

.staslox{
    margin-top: 73px;
}   

.border-bottom{
    width: 330px;
}

.btn-secondary{
    width: 250px;
    margin-top: 5px;
    text-align: left;
}

.fa{
    position: relative;
    left: -7px;
}

.trax{
    width: 1000px;
    height: 300px;
    margin-top: 150px;
    margin-left: 300px;
    background-color: palevioletred;
    color: blue;
    font-size: 130px;
    border: rebeccapurple 5px solid;
    border-radius: 50% 0 0 50%;
}

.circle{
    position: relative;
    left: -100px;
    width: 300px;
    height: 300px;
    display: block;
    border-radius: 50%;
    background-color: pink;
}

.fle{
    display: flex;
    justify-content: left;
}