{% include "main/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'main/main.css' %}">


<div class="container">
  <article class="media content-section">
    <img class="rounded-circle account-img" src="{{ user.profile.image.url }}" width="150px">
    <div class="media-body">
      <h2 class="pro">{{ user.username }}</h2>
      <p class="text-secondary">{{ user.email }}</p>
    </div>
  </article>
  <!--
  <div class="media">
    <div class="btn-group-vertical">
      <a href="{% url 'profile' %}"><button class="btn btn-secondary"><i class="fa fa-address-book-o"></i>Личные данные</button></a>
      <a href="{% url 'change' %}"><button class="btn btn-secondary"><i class="fa fa-cog"></i>Изменение пароля</button></a>
      <a href="{% url 'trahnut' %}"><button class="btn btn-secondary"><i class="fa fa-wheelchair-alt"></i>Трахнуть</button></a>
      <a href="{% url 'delete' %}"><button class="btn btn-secondary"><i class="fa fa-remove"></i>Удалить аккаунт</button></a>
    </div>
  </div>
</div>
-->                
<div class="row media">
  <div class="col-4">
    <div class="list-group" id="list-tab" role="tablist">
      <a class="list-group-item list-grsoup-item-action active top_but" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home"><i class="fa fa-address-book-o"></i>Профиль</a>
      <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile"><i class="fa fa-cog"></i>Изменить данные</a>
      <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages"><i class="fa fa-wheelchair-alt"></i>Гатка</a>
      <a class="list-group-item list-group-item-action bot_but" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings"><i class="fa fa-remove"></i>Удалить аккаунт</a>
    </div>
  </div>
  <div class="col-8">
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">
              <legend class="border-bottom mb-4">Profile Info</legend>
              {{ u_form|crispy }}
              {{ p_form|crispy }}
          </fieldset>
          <div class="form-group">
              <button class="btn btn-outline-info" type="submit">Update</button>
          </div>
      </form>
      </div>
      <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">...</div>
      <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">...</div>
      <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">...</div>
    </div>
  </div>
</div>


<div class="container">
  {% block content %}{% endblock content %}
</div>