{% extends "main/base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'main/main.css' %}">


<div class="container">
    <h1 class="h1_home">GATKA - проверь сайт на гадкость</h1>
    <div class="check_link">
        <div class="form_group">
            <input class="link" type="text" placeholder=" ">
            <label class="label_link">Введите URL - адрес</label>
        </div>
    </div>
    <div class="button_block">
        <button class="checkbutton">ПРОВЕРИТЬ</button>
        <button type="button" class="btn btn-secondary daun" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Помощь?">
  Попросить помощь у бога
</button>   
    </div>
</div>
{% endblock content %}